{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:mdx/recommended", "next/core-web-vitals", "@taci-tech"],
  "overrides": [
    {
      "files": "*.mdx",
      "parser": "eslint-mdx"
    }
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "mdx/code-blocks": true,
    // optional, if you want to disable language mapper, set it to `false`
    // if you want to override the default language mapper inside, you can provide your own
    "mdx/language-mapper": {}
  },
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "operator-linebreak": ["error", "before"],
    "max-len": "off",
    "quote-props": "off",
    // For TypeScript:
    "no-unused-vars": "off",
    "react/display-name": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
